
header{

background-color:blue;

border-radius:10px;

}

#conteneur{

background-color: white;

padding-bottom:3%;

height:100%;

display: flex;

}

#conteneur2{

background-color:white;


margin-top:2%;

margin-bottom:2%;

color:black;

border:1px solid black;

border-radius:10px;

}

#lien,#list,#CGU,#legal{

color:white;

}

#lien:hover{

color:black;

}



#list:hover{

color:black;

}


#CGU:hover{

color:black;

}


#legal:hover{

color:black;

}

#soutenir{

color:white;

}

#soutenir:hover{

color:black;

}

#id1{

color:white;

}

a:hover{

color:black;

}




footer{


background-color:white;

position:relative;

bottom:0%;

}

